.swiper-pagination-bullet {
  width: 1rem !important;
  height: 1rem !important;
}

.swiper-pagination-bullet-active {
  background: var(--chakra-colors-highlight) !important;
}

.swiper-button-prev, .swiper-button-next {
  color: var(--chakra-colors-highlight) !important;

  &::after {
    font-size: 1.8rem !important;
  }
}

.swiper-button-prev {
  left: 35px !important;
}

.swiper-button-next {
  right: 35px !important;
}
